<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Jot down your ideas for future reference.</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">New IdeAvatar</a>
</div>